DB_USER=*Entrer nom utilisateur ici*
DB_HOST=host.docker.internal
DB_NAME=*Entrer nom db ici*
DB_PASSWORD=*Entrer mot de passe ici*
DB_PORT=5432
BETTER_AUTH_SECRET=*Utiliser better https://better-auth.com/docs/installation pour générer un secret*
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000