/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------- Ensemble Reg----------------------------------------*/
/* ---------------------------------------------------------------------------------------- */
.page-creation-ens-reg {
    display: flex;
    flex-direction: column; /* Stack vertically if necessary */
    height: 100vh; /* Full height of the page */
    overflow: hidden; /* Prevent overflow (no scrollbars) */
}
.ens-reg-conteneur-row{
    display:flex;
    flex-direction:row;
    overflow-y:hidden;
}
.panneau-entete-ens-reg {
    height: 100%; /* Adjust width as needed */
    border: 1px solid #ccc; /* Add border for visibility */
    position:relative;
    width:400px;
    overflow-y:hidden;
    display:flex;
    flex-direction:column;
}
.panneau-scroll-entete-ens-reg{
    display:flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x:hidden;
    padding: 10px;
}

.panneau-entete-ens-reg h4 {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ccc; /* Add a bottom border for separation */
}

.table-entete-ens-reg{
    width: 100%;
    border-collapse: collapse;
    flex:1;
    flex-basis: content;
    overflow: auto;
}


.panneau-details-ens-reg {
    display: flex;
    flex:1;
    flex-direction: column;
    overflow-y:hidden;
    height: 100%; /* Ensure it takes the full width of its container */
    border: 1px solid #ccc; /* Add a border for visibility */
    position: relative; /* Ensure the handle is positioned correctly */
}

.panneau-table-association{
    display:flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x:hidden;
}

.selected-row{
    background-color: 'red';
}